#learn {
    padding:136px 0;
    background: #F0F0F0;
  .learn_div {
    justify-content: center;
    .text_learn {
      width: 413px;
      padding: 100px 75px;
      background-color: #f40404;
      h3 {
        width: 262px;
        font-family: "Poppins", sans-serif;
        font-size: 36px;
        font-weight: 700;
        color: #fff;
      }
    }
    .learn_img {
      position: relative;
      img {
        width: 100%;
      }
      a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 14px 30px;
        color: #f40404;
        background: #fff;
      }
    }
  }
}
