#supplier {
  padding: 100px 0;
  h1 {
    width: 290px;
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #000000;
  }
  p {
    margin-top: 61px;
    width: 651px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #6c6c6c;
  }
}
